<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myhotel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelStars">
        <activity
            android:name="com.example.myhotel.activity.RoomService"
            android:exported="false" />
        <activity
            android:name="com.example.myhotel.activity.CustomerList"
            android:exported="false" />
        <activity
            android:name="com.example.myhotel.activity.AllBookingHistory"
            android:exported="false" />
        <activity
            android:name="com.example.myhotel.activity.ManageCurrentBooking"
            android:exported="false" />
        <activity
            android:name="com.example.myhotel.activity.ApproveBooking"
            android:exported="false" />
        <activity
            android:name="com.example.myhotel.activity.BookingHistory"
            android:exported="false" />
        <activity
            android:name="com.example.myhotel.activity.CurrentBooking"
            android:exported="false" />
        <activity
            android:name="com.example.myhotel.activity.ViewAllRoom"
            android:exported="false" />
        <activity
            android:name="com.example.myhotel.activity.RequestedBooking"
            android:exported="false" />
        <activity
            android:name="com.example.myhotel.activity.RoomPageActivity"
            android:exported="false" />
        <activity
            android:name="com.example.myhotel.activity.AddRoomActivity"
            android:exported="false" />
        <activity
            android:name="com.example.myhotel.activity.AdminPanel"
            android:exported="false" />
        <activity
            android:name="com.example.myhotel.activity.UserMenu"
            android:exported="false" />
        <activity
            android:name="com.example.myhotel.activity.UserProfile"
            android:exported="false" />
        <activity
            android:name="com.example.myhotel.activity.HomePageActivity"
            android:exported="false" />
        <activity
            android:name="com.example.myhotel.activity.AdminManageRoom"
            android:exported="false" />
        <activity
            android:name="com.example.myhotel.auth.VerifyEmail"
            android:exported="false" />
        <activity
            android:name="com.example.myhotel.auth.RegisterPage"
            android:exported="false" />
        <activity
            android:name="com.example.myhotel.auth.LoginPage"
            android:exported="false" />
        <activity
            android:name="com.example.myhotel.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>